@(franchiseForm: play.data.Form[models.Franchise])

@import helper._

@common.main("Add New Franchise"){
	@helper.form(action = controllers.franchise.routes.FranchiseController.addNewFranhcise()) {
		<div class="modal-body">

			@helper.input(franchiseForm("franchiseTitle"),
				 '_showConstraints -> false, 
				 '_class -> "no-dt") { (id, name, value, args) =>
					<input type="text" class="form-control" name="@name" id="@id"
					placeholder="Name">
			}
			
			@helper.input(franchiseForm("email"),
				 '_showConstraints -> false,
				 '_class -> "no-dt") { (id, name, value, args) =>
					<input type="email" class="form-control" name="@name" id="@id"
					placeholder="Email">
			}
			
			@helper.input(franchiseForm("phone"),
				 '_showConstraints -> false,
				 '_class -> "no-dt") { (id, name, value, args) =>
					<input type="tel" class="form-control" name="@name" id="@id"
					placeholder="Phone">
			}
			
			@helper.input(franchiseForm("address"),
				 '_showConstraints -> false,
				 '_class -> "no-dt") { (id, name, value, args) =>
					<input type="text" class="form-control" name="@name" id="@id"
					placeholder="Address">
			}
			
		</div>
		<div class="Submission">
			<button type="submit" class="btn btn-success">Submit</button>
		</div>
	}
}