@(restaurant : Restaurant, foods : List[RestaurantFood])

@common.main("Restaurant") {
	
	<h2>Restaurant Name: @restaurant.name</h2>
	<h2>Franchise: @restaurant.franchise.franchiseTitle</h2>

	<div class="panel panel-default">
		  <!-- Default panel contents -->
		  <div class="panel-heading"><h3> Food Menu </h3></div>
		  <div class="panel-body">	   
		 </div>
	
	<table class="table table-bordered table-striped table-hover">
		
		<tr>
			<th> <h4> Food Item </h4> </th>
			<th> <h4> Item Price </h4> </th>
			<th> <h4> Rating </h4> </th>
		</tr>
								
		@for(food <- foods){
			<tr>		    
		        <th> <h5>@food.foodItem.itemTitle</h5> </th>
		        <th> <h5>@food.price</h5> </th>
		        <th> <h5>@food.rating</h5> </th>
		    </tr>		    		    
		    }
		    
	</table>
	
	<div class="col-md-4" id="add-options">
			<div class="row">
				<a class="btn" href="@controllers.restaurant.routes.RestaurantFoodController.addFoodInMenu(restaurant.id)" >Add Food</a>
			</div>
	</div>
	
}

