@* createAreaModal Template File *@
@(areaForm: play.data.Form[models.Area])

@import helper._

<div class="modal fade" id="createArea" tabindex="-1" role="dialog"
	aria-labelledby="createAreaLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="createAreatLabel">Add Area</h4>
			</div>
			@helper.form(action = controllers.area.routes.AreaController.addArea()) {
				<div class="modal-body">

					@helper.input(areaForm("areaName"),
						 '_showConstraints -> false, 
						 '_class -> "no-dt") { (id, name, value, args) =>
							<input type="text" class="form-control" name="@name" id="@id"
							placeholder="Area Name">
					}
					
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-success">Sign Up</button>
				</div>
			}
		</div>
	</div>
</div>
