@(title : String)

<!DOCTYPE html>
<html>
<head>
    @common.head(title)
</head>
<body>
@common.navbar(title)

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-2 column">
                    <h2>
                        KFC releases new Gingerbread Burger
                    </h2>
                    <p>
                        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                    </p>
                    <p>
                        <a class="btn" href="#">View details »</a>
                    </p>
                    <h2>
                        A&W to close
                    </h2>
                    <p>
                        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                    </p>
                    <p>
                        <a class="btn" href="#">View details »</a>
                    </p>
                    <h2>
                        Royal Buffet Price Updates
                    </h2>
                    <p>
                        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                    </p>
                    <p>
                        <a class="btn" href="#">View details »</a>
                    </p>
                </div>
                <div class="col-md-6 column">
                    <br>
                    <div class="media">
                        <a href="#" class="pull-left"><img src="http://lorempixel.com/64/64/people" class="media-object" alt=""></a>
                        <div class="media-body">
                            <h4 class="media-heading">
                                Shakib Ahmed and <a href="#">2 others</a>
                            </h4> likes <a href="#">El Torah</a>

                        </div>
                    </div>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">like</a> <span class="divider"> </span>
                        </li>
                        <li>
                            <a href="#">comment</a> <span class="divider"> </span>
                        </li>
                    </ul>
                    <div class="media">
                        <a href="#" class="pull-left"><img src="http://lorempixel.com/g/64/64/people" class="media-object" alt=""></a>
                        <div class="media-body">
                            <h4 class="media-heading">
                                Nawfil Nibir
                            </h4> likes <a href="#">KFC</a>

                        </div>
                    </div>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">like</a> <span class="divider"> </span>
                        </li>
                        <li>
                            <a href="#">comment</a> <span class="divider"> </span>
                        </li>
                    </ul>
                    <div class="media">
                        <a href="#" class="pull-left"><img src="http://lorempixel.com/64/64/people" class="media-object" alt=""></a>
                        <div class="media-body">
                            <h4 class="media-heading">
                                Mostafiz Rahman
                            </h4> likes <a href="#">Western Grill</a>

                        </div>
                    </div>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">like</a> <span class="divider"> </span>
                        </li>
                        <li>
                            <a href="#">comment</a> <span class="divider"> </span>
                        </li>
                    </ul>
                    <div class="media">
                        <a href="#" class="pull-left"><img src="http://lorempixel.com/g/64/64/people" class="media-object" alt=""></a>
                        <div class="media-body">
                            <h4 class="media-heading">
                                Anika Tabassum
                            </h4> likes <a href="#">Star Kabab</a>

                        </div>
                    </div>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">like</a> <span class="divider"> </span>
                        </li>
                        <li>
                            <a href="#">comment</a> <span class="divider"> </span>
                        </li>
                    </ul>
                    <div class="media">
                        <a href="#" class="pull-left"><img src="http://lorempixel.com/64/64/people" class="media-object" alt=""></a>
                        <div class="media-body">
                            <h4 class="media-heading">
                                Rafi Kamal
                            </h4> likes <a href="#">Palasir Rice</a>

                        </div>
                    </div>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">like</a> <span class="divider"> </span>
                        </li>
                        <li>
                            <a href="#">comment</a> <span class="divider"> </span>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 column">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="thumbnail">
                                <img alt="300x200" src="http://lorempixel.com/600/200/people" />
                                <div class="caption">
                                    <h3>
                                        Item from KFC suggested
                                    </h3>
                                    <p>
                                        <a class="btn" href="#">Nawfil Nibir</a> seggests Ginger bread burger from kfc
                                    </p>
                                    <p>
                                        <a class="btn btn-primary" href="#">Find Pricing</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="thumbnail">
                                <img alt="300x200" src="http://lorempixel.com/600/200/city" />
                                <div class="caption">
                                    <h3>
                                        Item from Western Grill Suggested
                                    </h3>
                                    <p>
                                        <a class="btn" href="#">Sumaiya Nasrin</a> seggests cheese burger from Western Grill
                                    </p>
                                    <p>
                                        <a class="btn btn-primary" href="#">Find Pricing</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="thumbnail">
                                <img alt="300x200" src="http://lorempixel.com/600/200/people" />
                                <div class="caption">
                                    <h3>
                                        Hangout Requests
                                    </h3>
                                    <p>
                                        10 New Hangout requests
                                    </p>
                                    <p>
                                        <a class="btn btn-primary" href="#">Details</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="thumbnail">
                                <img alt="300x200" src="http://lorempixel.com/600/200/city" />
                                <div class="caption">
                                    <h3>
                                        New restaurants
                                    </h3>
                                    <p>
                                        5 New restaurants at your area.
                                    </p>
                                    <p>
                                        <a class="btn btn-primary" href="#">Details</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@common.footer()

</body>

</html>