@(signUpForm: play.data.Form[models.Visitor])

@common.guest("Restaurant Database System") {
	<div class="container">
		<img id="main" src="@routes.Assets.at("images/restaurant.jpg")"></img>
		<div class="container" id="sign-up-in-container">
			<div class="heading-banner">
				<h4>If you are not registered please sign-up. Otherwise sign-in to rate your favorite restaurant or food item.</h4>
			</div>
			<hr/>
			<div class="row">
				<button type="button" id="sign-up" class="btn btn-primary btn-large btn-block btn-lg" 
					role="button" data-toggle="modal" data-target="#signUpModal">Sign Up</button>
				<p class="or">Or</p>
				<button type="button" id="sign-in" class="btn btn-default btn-large btn-block btn-lg"
					role="button" data-toggle="modal" data-target="#signInModal">Sign In</button>
			</div>
		</div>
	</div>
	@views.html.signInModal()
	@views.html.signUpModal(signUpForm)
}